<div class='panel panel-info'>
  <div class='panel-heading'>
    <h1 class='panel-title'>
      <%= @product.name %>
    </h1>
  </div>
  <div class='panel-body'>

    <%= image_tag @primaryImage.image_path.url, class: 'img-thumbnail img-details-main', align: 'left' %>

    <p><%= @product.description %></p><br/>

    <h4>$<%= '%.2f' % @product.price %> &emsp;&emsp; <%= link_to 'Add to Cart', '#', class: 'btn btn-primary' %></h4><br/>

    <% if admin? %>
      <%= link_to 'Edit Info', edit_product_path(@product), class: 'btn btn-warning' %>
    <% end %>

  </div>
</div>
