<!DOCTYPE html>
<html>
  <head>
    <title>Studio Balu Designs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container well main-well">

      <a href="/"><%=image_tag image_url("full-logo.jpg"), style: 'width:100%'%></a>
      <nav class="navbar navbar-defalt navbar-default navbar-color">
        <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" arai_controls="navbar">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class=<%=is_active('index')%>><a href="/">Home</a></li>
              <li class=<%=is_active('about')%>><a href="/about">About Us</a></li>
              <li class=<%=is_active('contact')%>><a href="/contact">Contact Us</a></li>
              <% if @category_names.present? %>
                <li class='<%=is_active('gallery') ? "dropdown active" : "dropdown"%>'>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspoup="true" aria-expanded="false">Gallery <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'View All', products_path %></li>
                    <li role='separator' class='divider'></li>
                    <% @category_names.each do |c| %>
                      <li><%= link_to c, products_path(:category => c) %></li>
                    <% end %>
                  </ul>
                </li>
              <% else %>
                <li class=<%=is_active('gallery')%>><a href="/gallery">Gallery</a></li>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%=link_to 'View Cart', url_for(controller: 'orders', action: 'cart'), :"data-no-turbolink" => true %></li>
              <%if admin?%>
                <li class=<%=is_active('admin')%>><a href="/admin">Admin <span class="glyphicon glyphicon-cog"></span></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

      <!--TODO insert flash message thing here -->

      <%= yield %>

    </div>

    <footer>

    </footer>
  </body>
</html>
