<!DOCTYPE html>
<html>
  <head>
    <title>Studio Balu Designs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container well main-well">

      <a href="/"><%=image_tag image_url("full-logo.jpg"), style: 'width:100%'%></a>
      <%= render 'navbar' %>

      <!--TODO insert flash message thing here -->

      <%= yield %>

    </div>

    <%= render 'footer' %>
  </body>
</html>
